<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Project Test">
    <test name="Regression">
         <classes>
             <class name="com.prj.qa.test.LoginPageTest"></class>
             <class name="com.prj.qa.test.HomePageTest"></class>
             <class name="com.prj.qa.test.ContactPageTest"></class>
             
         </classes>
     </test> 
</suite>